$skinColor: rgb(225, 188, 160);
$offsetTop: 2rem + $hairHeight;
$shirtColor1: rgb(228, 135, 77);
$shirtColor2: rgb(210, 106, 62);
$shirtGradient: linear-gradient(160deg, $shirtColor1, 10%, $shirtColor2);
$headWidth: 20rem;
$earWidth: 2.5rem;